.common{
    position: absolute;
    color: black;
}

.navigaton{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;

}

.tableau{   
    top: 110px;
    left: 5px;
    right: 5px;
    height: 200px;
}

.header{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    font-size: xx-large;
}

body{
    background-color: gray;
}

text{
    color: black;
}